
<row>
<div class="col-md-12">
<div class="jumbotron text-center">
    <h1 class="white montserrat">Criteo Football Club</h1>
    <p class="lead white montserrat">Welcome! Join our next game!</p>
</div>
</div>

<% if user_signed_in? %>


<div class="col-md-6">
  <div class="well">
    <h2 class="text-center">Next game:</h2>
    <% if @game != nil%>
    <p>Address: <%= @game.address %></p>
    <p>Time: <%= @game.time %></p>
    <p>Players: <%= @game.users.length %></p>
    <br/>
    <%= link_to "Join the game", edit_game_path(id: @game.id), class: 'btn btn-custom btn-lg btn-block' %>
    <%= link_to "Check who's playing", game_path(id: @game.id), class: 'btn btn-custom btn-lg btn-block' %>

  </div>
  <% end %>
</div>
<div class="col-md-6">
  <div class="well">
    <h2 class="text-center">Best scorers</h2>
    <ol>
      <% if @users != []%>
        <% @users.sort_by { |u| u[:goal] }.reverse!.each do |x|%>
          <li><%= x.name + " - " + x.goal.to_s%></li>
        <%end%>
      <%end%>
    </ol>
  </div>
</div>
<% else %>
<div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Join Us</h2>
      <h4>Sign up and join the Club!</h4>
      <br/>
      <%= link_to "Join us", new_user_registration_path, class: 'btn btn-custom btn-lg btn-block' %>
    </div>
</div>

<% end %>
</row>