<h1>Planned games</h1>
 
<table class="table well">
    <thead class="thead-inverse">
        <tr>
            <th>Date</th>
            <th>Address</th>
            <th>Time</th>
            
            <% if current_user.email == "andrea.rocca3@gmail.com" %>
                <th></th>
                <th></th>
                <th></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @games.each do |game| %>
          <tr>
            <% @date = Date.parse game.name%>
            <% if Time.now < @date %>
                <td><%= game.name %></td>
                <td><%= game.address %></td>
                <td><%= game.time %></td>
                <% if current_user.email == "andrea.rocca3@gmail.com" %>
                    <td><%= link_to "Show", game, class: 'btn btn-primary' %></td>
                    <td><%= link_to "Edit", edit_game_path(game), class: 'btn btn-info' %></td>
                    <td><%= link_to "Remove", game, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %></td>
                <% end %>
            <% end %>
          </tr>
        <% end %>
    </tbody>
</table>
 
<br>
 